{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block container %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    {{ form_start(requestForm) }}

        <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

        {{ form_row(requestForm.email) }}
        
        <div>
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
